In [ ]:
# Importing Libraries
import mysql.connector
from mysql.connector import Error
import pandas as pd

In [ ]:
# Function to establish connection with mysql server
def create_server_connection (host_name, user_name, user_password):
    connection = None
    try: 
        connection = mysql.connector.connect(
            host = host_name, 
            user = user_name,
            passwd = user_password
        )
        print("MySQL Database connection successful")
        
    except Error as err:
        print(f"Error: '{err}''")
    
    return connection

# Put your MySQL Terminal Password
pw = "#######"

# Database name which is going to be created
db = "mysql_python"

connection = create_server_connection("localhost", "root", pw )

In [ ]:
# Function to create database
def create_database(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        print("Database created Successfully")
    except Error as err:
        print(f"Error: '{err}'")

# SQL Query 
create_database_query = "create database mysql_python"

#Establishing Connection
create_database(connection, create_database_query)

In [ ]:
# Function to Establish Connection with Created mysql_python Database
def create_db_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            host = host_name, 
            user = user_name,
            passwd = user_password,
            database = db_name)
        print("MySQL database connection successful")
        
    except Error as err:
        print(f"Error: '{err}'")  
    
    return connection

In [ ]:
# Function to Execute SQL Queries
def execute_query(connection, query):
    cursor = connection.cursor()
    
    try:
        cursor.execute(query)
        connection.commit()
        print("Query was executed successfully")
    
    except Error as err:
        print(f"Error: '{err}'")

In [ ]:
# Creating a table inside the mysql_python Database
create_orders_table = """
create table orders (
order_id int primary key,
customer_name varchar(30) not null, 
product_name varchar(20) not null, 
date_ordered date,
quantity int,
unit_price float,
phone_number varchar(20));
"""

#connection to the database
connection = create_db_connection("localhost", "root", pw ,db )
execute_query(connection,create_orders_table)

In [ ]:
# Inserting Data to the Created 'orders' table
Data_orders = """
insert into orders values
(101, 'Steve', 'Laptop', '2018-06-12', 2, 800, '6293730802'),
(102, 'Jos', 'Books', '2019-02-10', 10, 12, '4566123789'),
(103, 'Stacy', 'Trousers', '2019-12-25', 5, 50, '9876543210'),
(104, 'Nancy', 'T-shirts', '2018-07-14', 7, 30, '4561237890'),
(105, 'Maria', 'Headphones', '2019-05-30', 6, 48, '5465213287'),
(106, 'Danny', 'Smart Tv', '2018-08-20', 10, 300, '5645231278');
"""

connection = create_db_connection("localhost", "root", pw ,db)
execute_query(connection,Data_orders)

In [ ]:
# Function to Read/Fetch the Data from the Table
def read_query(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    
    except Error as err:
        print(f"Error: '{err}'")

In [ ]:
# Fetching Data Using SELECT statement
q1 = """ select * from orders;"""

connection = create_db_connection("localhost", "root", pw ,db)
results = read_query(connection, q1)

for result in results:
    print(result)

In [ ]:
# Fetching Data Using SELECT statement
q2 = """ select customer_name, phone_number from orders;"""

connection = create_db_connection("localhost", "root", pw ,db)
results = read_query(connection, q2)

for result in results:
    print(result)

In [ ]:
# Fetching Data Using SELECT statement
q3 = """ select year(date_ordered) from orders;"""

connection = create_db_connection("localhost", "root", pw ,db)
results = read_query(connection, q3)

for result in results:
    print(result)

In [ ]:
# Fetching Data Using SELECT statement
q4 = """ select distinct(year(date_ordered)) from orders;"""

connection = create_db_connection("localhost", "root", pw ,db)
results = read_query(connection, q4)

for result in results:
    print(result)

In [ ]:
# Fetching Data Using SELECT statement
q5 = """ select * from orders where date_ordered < '2018-12-31';"""

connection = create_db_connection("localhost", "root", pw ,db)
results = read_query(connection, q5)

for result in results:
    print(result)

In [ ]:
# # Fetching All Databases using SHOW DATABASES query
q6 = """ show databases;"""

connection = create_db_connection("localhost", "root", pw ,db)
results = read_query(connection, q6)

for result in results:
    print(result)

In [ ]:
# Fetching Data Using SELECT statement with 'WHERE' condition
q7 = """ select * from orders where date_ordered > '2018-12-31';"""

connection = create_db_connection("localhost", "root", pw ,db)
results = read_query(connection, q7)

for result in results:
    print(result)

In [ ]:
# Fetching Data Using SELECT statement with 'ORDER BY' condition (sorting)
q8 = """ 
select * from orders order by unit_price;
"""

connection = create_db_connection("localhost", "root", pw ,db)
results = read_query(connection, q8)

for result in results:
    print(result)

In [ ]:
# Creating DataFrame from the fetched result
from_db = []

for result in results:
    result = list(result)
    from_db.append(result)
    
columns = ["order_id", "Customer_name", "product_name", "date_ordered", "quantity", "unit_price", "phone_number"]

df = pd.DataFrame (from_db, columns=columns)

display(df)

In [ ]:
# Updating Table using 'UPDATE' Query
update = """
update orders
set unit_price = 45
where order_id = 103
"""

connection = create_db_connection("localhost", "root", pw ,db)
execute_query(connection,update)

In [ ]:
# Fetching specific record based on order_id
q9 = """ select * from orders where order_id = 103;"""
connection = create_db_connection("localhost", "root", pw ,db)
results = read_query(connection, q9)

for result in results:
    print(result)

In [ ]:
# Removing specific record from the table using DELETE statement
delete_order = """
delete from orders where order_id = 105
"""

connection = create_db_connection("localhost", "root", pw ,db)
execute_query(connection,delete_order)

In [ ]:
# Fetching all the records after deleting specific record
q10 = """ select * from orders ;"""

connection = create_db_connection("localhost", "root", pw ,db)
results = read_query(connection, q10)

for result in results:
    print(result)